 /* 
Dark-grey = 282B30
Light-grey = 5F6368
Light-blue = 565880
Unselected-text = ECECF9 (40% opacity)
Selected-text (primary text) = ECECF9 (100% opacity)
border-radius: 20px; for boxes
box-shadow: 6px 12px 14px #282B30;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');
body {
  margin: 0;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 300;
  background-color: #5F6368;
  background: url("https://i.redd.it/ppre62rzb7481.png") no-repeat center center fixed;
  background-size: cover;
}
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
  width: 400px;
  height: 800px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -130px;
  top: -80px;
}
.shape:last-child{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -130px;
  bottom: -80px;
}
.background1{
  width: 700px;
  height: 400px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background1 .shape1{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape1:first-child{
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -130px;
  top: -80px;
}
.shape1:last-child{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -130px;
  bottom: -80px;
}
.entry {
  height: 800px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;

  
}
.formbutton{
  height: 55px;
  margin-top: 30px;
  width: 100%;
  
  background-color: rgba(255,255,255,0.13);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  color: #ffffff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 350;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
input{
  display: block;
  height: 40px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
.social{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  

}
.social a{
  text-decoration: none;
}
.social div{
background: red;
width: 150px;
border-radius: 3px;
padding: 7px 10px 10px 5px;
background-color: rgba(255,255,255,0.12);
backdrop-filter: blur(4px);
color: #eaf0fb;
text-align: center;
}
.social div:hover{
background-color: rgba(255,255,255,0.47);
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}
.error-message{
  font-family: 'Poppins',sans-serif;
  color: red;
  margin-top: 10px;
  margin-bottom: 2px;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  
}
select {
  display: block;
  height: 40px;
  width: 105%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}


select option {
  background-color: rgba(255,255,255,0.07);
  color: #333;
}
.container {
  display: flex;
  justify-content: space-around;

  height: 400px;
  width: 700px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.price {

  margin-top: 50px;
  text-align: center;
  color: #ffffff;
}
.low{
  color: rgb(207, 94, 94);
}
.medium{
  color: rgb(222, 222, 126);
}
.high{
  color: rgb(91, 196, 91);
}
.user-input-container {
  color: #ffffff;
  border-radius: 10px;

}

.user-input-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-input-item {
  margin-bottom: 10px;
}

.user-input-item strong {
  display: inline-block;
  width: 150px;
}
.Logo{
  height: 55px;
  margin-top: 100px;
  width: 100%;
  letter-spacing: 5px;
  color: #ffffff;
  padding: 15px 0;
  font-size: 36px;
  font-weight: 350;
  text-align: center;
}
